.input-field {
  width: 100%;
  padding-left: 10px;
  margin: 10px 0;
  height: 35px;
  border-radius: 3px;
  border: 1px solid #a4cef9;
}

.label {
  color: #3985ca;
}

h3 {
  margin: 0;
}

.login-header-text {
  color: #3985ca;
}

.btn-login {
  width: 100%;
  height: 35px;
  background: #3985ca;
  border: 1px solid #3985ca;
  color: #fff;
  border-radius: 3px;
}